ul class=share-buttons
  lia href=httpswww.facebook.comsharersharer.phpu=&t= target=_blank title=Share on Facebook onclick=window.open('httpswww.facebook.comsharersharer.phpu=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;i class=fa fa-facebook-square fa-2xiali
  lia href=httpstwitter.comintenttweetsource=&text=%20 target=_blank title=Tweet onclick=window.open('httpstwitter.comintenttweettext=' + encodeURIComponent(document.title) + '%20' + encodeURIComponent(document.URL)); return false;i class=fa fa-twitter-square fa-2xiali
ul